strong {
    color:black;
}


.Wolf a, h1.Wolf, strong.Wolf {
    border-left:6px solid #bf0000;
    color:#800000;
}

.Town a, h1.Town, strong.Town {
    border-left:6px solid #2478b7;
    color:#18507a;
}

.Chaos a, h1.Chaos, strong.Chaos {
    border-left:6px solid #6aa84f;
    color:#3f642f;
}

.Rule a, h1.Rule, strong.Rule {
    border-left:6px solid #bf9000;
    color:#856400;
}

.nodot li {
    style-type: none !important;
    list-style-type: none !important;
}

h1 {
    border-left: 0px !important;
}

.role {
    padding-left:5px;
    margin-left: 5px;
}